/* /\/\@RRSG */
/* sass --watch scss:assets/css */
/* ==========================================================================
   iPhone 4+ - Landscape orientation - Below 568px
   ========================================================================== */
/* ==========================================================================
   Tablet portrait - Below 768px
   ========================================================================== */
/* ==========================================================================
   Tablet portrait - Between 768px and 1000px
   ========================================================================== */
/* ==========================================================================
   Desktop and Tablet Landscape
   ========================================================================== */
@media only screen and (min-width: 580px) {
  /*====================================================================================
  										WRAPPER
  ====================================================================================*/
  div.wrapper {
    width: 960px;
    position: relative; }

  body {
    min-width: 960px; }

  /*====================================================================================
  										WRAPPER
  ====================================================================================*/
  /*====================================================================================
  										HEADER
  ====================================================================================*/
  header {
    min-height: 186px; }

  div.container {
    margin-bottom: 45px; }

  nav.primary-nav {
    background: #f1f1f1;
    min-height: 45px;
    position: relative;
    margin-top: 0;
       /* ul.nav-bar{
          padding-left:0 !important;
          -webkit-padding-start: 0 !important ;
          height:100%;
          position:absolute;
          margin:0; 

          
            li{
              display:inline-block;
              height:100%; 
              padding:0 9px; 
              position:relative;
              bottom:10px;
                a{
                  text-decoration:none;
                  position:relative;
                  top:10px;
                }
            }
          
        }*/ }
    nav.primary-nav ul.nav-bar {
      position: relative;
      height: 100%;
      margin: 0;
      padding-left: 0 !important;
      -webkit-padding-start: 0 !important;
      width: 100%;
      height: 45px; }
      nav.primary-nav ul.nav-bar ul.inner-list {
        display: none !important;
        position: absolute;
        top: 44px;
        z-index: 9999;
        background: #03243B;
        width: 310px;
        left: 0; }
        nav.primary-nav ul.nav-bar ul.inner-list li {
          display: block;
          float: none;
          margin: 10px 0;
          padding: 10px 20px; }
          nav.primary-nav ul.nav-bar ul.inner-list li a {
            color: #fff;
            top: 0; }
        nav.primary-nav ul.nav-bar ul.inner-list li:hover {
          background: #fbc036; }
          nav.primary-nav ul.nav-bar ul.inner-list li:hover a {
            color: #023456; }
      nav.primary-nav ul.nav-bar li.home-text {
        display: none; }
      nav.primary-nav ul.nav-bar li:hover {
        background: #03243B; }
        nav.primary-nav ul.nav-bar li:hover ul.inner-list {
          display: block !important; }
        nav.primary-nav ul.nav-bar li:hover a {
          color: #fff; }
          nav.primary-nav ul.nav-bar li:hover a div.home-icon {
            background: url(/assets/img/home-hover.png) no-repeat; }
      nav.primary-nav ul.nav-bar li {
        display: inline-block;
        padding: 0 22px;
        position: relative;
        height: 100%;
        float: left;
        font-size: 16px; }
        nav.primary-nav ul.nav-bar li a {
          text-decoration: none;
          position: relative;
          top: 11px;
          padding: 7px 0 8px 0; }

  span.menu-button {
    display: none; }

  ul.link-list {
    -webkit-padding-start: 0;
    padding-left: 0;
    margin: 10px 23px; }
    ul.link-list div:last-of-type {
      text-align: center; }

  .link-list li a {
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s; }

  .link-list li {
    margin: 49px 28px 0 0; }

  .mobile-slider {
    display: none; }

  div.logo-left, div.logo-right {
    display: inline-block;
    width: 50%;
    box-sizing: border-box;
    position: relative;
    top: 10px;
    height: 64px;
    float: left; }

  div.logo-right img {
    position: absolute;
    right: 5px; }

  div.logo-left img {
    position: relative;
    left: 5px; }

  ul.header-link {
    color: #000;
    font-family: "Open Sans";
    font-size: 12px;
    position: absolute;
    right: 5px;
    top: 34px; }
    ul.header-link li {
      display: inline-block;
      padding: 0 10px; }
      ul.header-link li a {
        color: #252525; }
    ul.header-link li.first {
      border-right: 1px solid #252525; }
    ul.header-link li.last {
      padding-right: 0;
      border-left: 1px solid #252525; }

  ul.header-link {
    list-style-type: none;
    display: block; }

  input.head-search-input {
    background: url(/assets/img/search-ico.png) no-repeat right; }

  a.mobile-search-button {
    display: none; }

  .active {
    background: #023456; }
    .active a {
      color: #fff; }

  .active-home {
    background: url(/assets/img/home-hover.png) no-repeat !important; }

  section.left-container {
    width: 75%;
    display: inline-block;
    box-sizing: border-box;
    left: 0;
    position: absolute; }

  section.right-container {
    width: 25%;
    display: inline-block;
    box-sizing: border-box;
    top: -29px;
    right: 0;
    position: absolute; }

  div.main-links {
    position: relative;
    padding: 0;
    width: 100%;
    display: block; }

  article.side-content {
    max-width: 230px; }
    article.side-content div.side-data h3.side-heading {
      font-size: 21px;
      margin: 0 10px 7px 20px; }
    article.side-content div.side-data p {
      margin: 8px 20px 20px 20px;
      font-size: 14px; }
    article.side-content div.side-data div.track {
      margin: 0 20px 7px 20px;
      height: 29px; }
      article.side-content div.side-data div.track a {
        padding: 0px 15px; }

  span.side-button {
    padding: 4px 30px 3px 10px;
    margin: 0 30px 7px 20px; }
    span.side-button a {
      font-size: 14px; }

  section.left-container article.publication {
    margin: 7px 4px 0;
    width: 32%;
    min-height: 250px;
    display: inline-block; }
    section.left-container article.publication p {
      font-size: 14px;
      padding: 10px; }
    section.left-container article.publication h3 {
      padding: 0 10px;
      font-size: 16px; }

  .searchBackground {
    background: #023456 !important; }

  .internal-description {
    background: url(/assets/img/publication-banner.png) no-repeat;
    min-height: 160px !important; }
    .internal-description h1 {
      padding: 40px 0 5px 5px; }

  ul.breadcrumb {
    font-size: 12px;
    color: #706F73;
    margin-top: 2px;
    margin-left: 5px; }
    ul.breadcrumb li {
      display: inline-block;
      font-weight: 400; }
    ul.breadcrumb span.current {
      color: #023456;
      font-weight: 600; }

  ul.breadcrumb li + li:before {
    content: ">";
    padding: 0 6px; }

  .searchbox {
    background: #023456;
    height: 440px !important; }
    .searchbox .close {
      position: absolute;
      right: 5px;
      top: 5px;
      color: #fff;
      text-decoration: none;
      text-transform: uppercase;
      background: url(/assets/img/close.png) 90% 20% no-repeat;
      width: 75px;
      font-size: 16px; }
    .searchbox .publi-notmain {
      position: relative;
      top: 37px;
      width: 90%;
      box-sizing: border-box;
      padding-left: 5px; }
      .searchbox .publi-notmain input[type="text"] {
        font-size: 40px;
        font-weight: 400;
        width: 97%;
        padding: 8px 10px 0 0; }
      .searchbox .publi-notmain .search-link {
        background: url(/assets/img/publi-search.png) 100% 75% no-repeat;
        padding: 17px;
        position: absolute;
        right: 7px;
        top: 3px; }
      .searchbox .publi-notmain span {
        border-top: 1px solid #205372;
        display: block;
        font-weight: 300;
        font-size: 14px;
        padding-top: 15px; }
    .searchbox .search-results {
      position: absolute;
      height: 200px;
      top: 180px;
      width: 100%; }
      .searchbox .search-results a {
        color: #fff; }
      .searchbox .search-results .search-item {
        display: inline-block;
        width: calc(100% / 3);
        min-height: 95px;
        box-sizing: border-box;
        padding: 10px 5px;
        border: 1px solid #023456;
        float: left; }
      .searchbox .search-results .search-item:hover {
        border: 1px solid #fff;
        transition: 0.3s; }
      .searchbox .search-results img {
        float: left; }
      .searchbox .search-results div {
        padding: 15px 0 0 15px;
        display: inline-block; }
        .searchbox .search-results div p {
          margin: 0;
          font-size: 14px;
          font-weight: 600;
          text-align: left;
          position: relative;
          width: 100%;
          display: block; }

  .publi-head h1, .publi-head p {
    width: 500px;
    text-align: left;
    margin: 0;
    padding-left: 5px; }

  .publi-search {
    position: absolute;
    right: 40px;
    top: 45px; }
    .publi-search input[type="text"] {
      margin-bottom: 0;
      padding: 8px 50px 0 0;
      width: 220px; }
    .publi-search .search-link {
      padding: 17px;
      right: 7px;
      top: 3px; }

  .link-description {
    min-height: 340px;
    background: url(/assets/img/banner.png) no-repeat;
    top: -10px;
    position: relative; }
    .link-description .main-header {
      -webkit-transition: 0.5s;
      -moz-transition: 0.5s;
      -o-transition: 0.5s;
      transition: 0.5s; }

  .view-more:hover {
    background: #fbc036 !important; }
    .view-more:hover a {
      color: #023456 !important;
      background: url(/assets/img/view-more-hover.png) 94% 50% no-repeat; }

  .button:hover {
    background: #fbc036 !important;
    color: #023456 !important; }

  /*====================================================================================
  										HEADER
  ====================================================================================*/
  /*====================================================================================
                      PUBLICATION
  ====================================================================================*/
  .publi-left, .publi-right {
    position: relative;
    display: inline-block;
    float: left;
    width: 50%; }

  article.publi-enquiry {
    display: block;
    background: url(/assets/img/publi-enquiry.png) #59ccad no-repeat right;
    height: 110px;
    margin: 30px 0; }
    article.publi-enquiry h2 {
      color: #000;
      font-size: 21px;
      font-weight: 500;
      display: inline-block;
      padding: 10px 25px 0 20px;
      margin-bottom: 8px; }
    article.publi-enquiry span {
      font-size: 14px;
      display: inline-block;
      color: #414040;
      font-weight: 400; }
    article.publi-enquiry span.side-button {
      display: table;
      margin-left: 210px; }

  .side-button:hover {
    background: url(/assets/img/button-arrow-hover.png) #023456 89% 48% no-repeat;
    border: 1px solid #023456 !important; }
    .side-button:hover a {
      color: #fff !important; }

  .download:hover {
    background: url(/assets/img/button-down-arrow-hover.png) #023456 91% 48% no-repeat !important; }

  div.track a:hover {
    background: url(/assets/img/button-arrow-hover.png) #023456 50% 50% no-repeat !important; }

  .main-container {
    min-height: 340px; }

  /*====================================================================================
                      PUBLICATION
  ====================================================================================*/
  /* ==========================================================================
     bxSlider
     ========================================================================== */
  div.bx-wrapper {
    max-width: 846px !important;
    position: relative; }

  div.bx-viewport {
    height: 146px !important; }

  .bx-controls-direction a {
    top: 50%;
    margin-top: -16px; }

  .bx-next {
    right: -50px; }

  .bx-prev {
    left: -50px; }

  .slide-div {
    text-align: center; }

  /*====================================================================================
                      BxSlider
  ====================================================================================*/
  /*====================================================================================
                      FOOTER
  ====================================================================================*/
  footer {
    height: 210px;
    background: #f1f1f1;
    position: relative; }
    footer div.wrapper {
      font-family: "Hind"; }
      footer div.wrapper section {
        float: left; }
      footer div.wrapper section.publication-links {
        margin: 15px 9px 0 9px;
        display: inline-block;
        width: 210px; }
      footer div.wrapper section.footer-logo {
        display: none; }
      footer div.wrapper section.disease-links {
        margin: 15px 9px 0 9px;
        display: inline-block;
        width: 245px;
        height: 100%; }
      footer div.wrapper section.terms-links {
        margin: 15px 5px 0 9px;
        display: inline-block;
        width: 235px;
        text-align: right;
        position: relative;
        height: 100%; }
      footer div.wrapper section.copy-section {
        position: relative;
        display: block;
        width: 100%;
        top: -10px; }
        footer div.wrapper section.copy-section p.copyright, footer div.wrapper section.copy-section span {
          color: #000;
          font-size: 14px;
          font-weight: 500;
          display: inline-block;
          width: 50%;
          margin: 0; }
        footer div.wrapper section.copy-section span {
          text-align: right; }

  p.bar-link {
    margin-top: 20px !important; }

 /*====================================================================================
                    Data Request
====================================================================================*/
  .data-req {
    width: 100%;
    left: 0; }

  div.data-row {
    padding: 20px 0 18px 5px;
    border-bottom: 1px solid #DFDFDF; }
    div.data-row p {
      margin: 0;
      width: 34.8%;
      display: inline-block;
      float: left;
      position: relative; }
    div.data-row div {
      width: 64.5%;
      display: inline-block;
      position: relative;
      font-size: 14px; }
      div.data-row div input[type=text], div.data-row div select, div.data-row div textarea {
        width: 64%; }

  div.checkbox-data {
    width: 64% !important; }
    div.checkbox-data label {
      display: inline-block;
      margin: 0 30px 40px 0;
      width: 170px;
      position: relative; }
      div.checkbox-data label p {
        float: right;
        width: 123px; }

  .city-left, div.zip, .zip-left {
    float: left;
    margin-right: 10px; }

  .zip {
    width: 125px !important; }
    .zip select, .zip span.dropdown-span {
      width: 100% !important;
      margin-bottom: 0; }

  span.dropdown-span {
    width: 64%; }

  input.surname {
    width: 110px !important;
    margin-right: 20px; }

  input.givenname {
    width: 270px !important; }

  article.personal-particular {
    margin-bottom: 30px; }

  /*====================================================================================
                      AMI
  ====================================================================================*/
  .data-publi {
    position: relative; }
    .data-publi .date, .data-publi .type {
      width: 16.66%; }
    .data-publi .data {
      width: 66.66%;
      padding-left: 55px; }
    .data-publi .date {
      padding-left: 45px; }
    .data-publi .date, .data-publi .data, .data-publi .type {
      display: inline-block;
      box-sizing: border-box;
      float: left; }
    .data-publi .view-more {
      width: 100% !important;
      margin-left: 0 !important; }

  .ami-content {
    max-width: calc(100%/3) !important;
    float: left !important; }

  .pdf p, .disclaimer p {
    display: inline-block; }

  /* ==========================================================================
     About Us
     ========================================================================== */
  .about-left {
    width: 27%; }
    .about-left p, .about-left li {
      font: 600 18px "Hind"; }
    .about-left p {
      color: #706f73;
      margin-bottom: 0; }
    .about-left ul {
      list-style-image: url(/assets/img/list-type.png);
      padding-left: 14px;
      margin: 5px 0; }
    .about-left li {
      padding-left: 5px; }
      .about-left li a {
        text-decoration: none;
        color: #023456; }

  .about-right {
    padding: 0 10px 0 35px;
    width: 73%;
    border-left: 1px solid #cfcfcf; }
    .about-right .p-column {
      column-count: 2;
      column-gap: 20px;
      -moz-column-count: 2;
      -moz-column-gap: 20px;
      -webkit-column-count: 2;
      -webkit-column-gap: 20px;
      min-height: 320px; }
      .about-right .p-column p {
        font-size: 15px !important;
        display: inline-block; }

  /*====================================================================================
                      FOOTER
  ====================================================================================*/
  .mobile-footer-links {
    display: none; } }
/* ==========================================================================
   Desktop Widescreen and Above
   ========================================================================== */
/* ==========================================================================
   Mobile View
   ========================================================================== */
@media only screen and (max-width: 580px) {
  /*====================================================================================
  										HEADER
  ====================================================================================*/
  div.wrapper {
    width: 100%; }

  div.header-logo {
    display: none; }

  div.header-search {
    width: 100%; }
    div.header-search p.heading {
      width: 100%;
      margin: 5px 0 0 0;
      text-align: center;
      position: relative;
      left: 0;
      font-size: 17px;
      color: #2576B3; }
    div.header-search div.search1 {
      width: 100%;
      margin: 0; }
      div.header-search div.search1 span.button {
        display: none; }
      div.header-search div.search1 input.head-search-input {
        right: 5px;
        width: 70%;
        padding: 4px 5px 5px 5px !important; }
      div.header-search div.search1 a.mobile-search-button {
        display: block;
        position: absolute;
        right: 9px;
        padding: 9px;
        background: url(/assets/img/search-ico.png) no-repeat;
        top: 5px; }

  span.menu-button {
    left: 5px !important;
    display: inline-block !important;
    cursor: pointer;
    background: #0F5A8B !important;
    font-size: 16px;
    padding: 4px 5px !important; }

  /*====================================================================================
  										MOBILE MENU
  ====================================================================================*/
  nav.primary-nav,
  nav.primary-nav ul,
  nav.primary-nav li,
  nav.primary-nav a {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    font-weight: normal;
    text-decoration: none;
    line-height: 1;
    font-family: "Hind";
    font-size: 16px;
    position: relative; }

  nav.primary-nav {
    width: 100%;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px; }
    nav.primary-nav ul.nav-bar {
      position: relative;
      margin: 10px 0 0 0;
      display: none; }
      nav.primary-nav ul.nav-bar ul {
        display: none; }

  nav.primary-nav a {
    display: block;
    top: 0;
    padding: 15px;
    font-weight: 500; }

  nav.primary-nav ul li ul li {
    background: #0A3F61;
    color: #fff;
    border-bottom: 1px solid #0A344F; }
    nav.primary-nav ul li ul li a {
      color: #fff; }

  nav.primary-nav li {
    width: 100%;
    padding: 0;
    color: #414040;
    border-bottom: 1px solid #C5C5C6; }
    nav.primary-nav li .sub-menu.menu-link {
      background: url(/assets/img/mobile-arrow.png) center no-repeat;
      padding: 10px;
      position: absolute;
      right: 10px;
      top: 17px;
      cursor: pointer; }

  ul.nav-bar li.home-text {
    display: block; }

  ul.nav-bar li.home-image {
    display: none; }

  .active-mobile {
    background: #0F5A8B;
    border-bottom: 1px solid #0A344F !important; }
    .active-mobile a {
      color: #fff; }
    .active-mobile .sub-menu.menu-link {
      background: url(/assets/img/mobile-arrow-active.png) center no-repeat !important;
      padding: 10px;
      position: absolute;
      right: 10px;
      top: 11px; }

  /*====================================================================================
  										MAIN BODY
  ====================================================================================*/
  .desktop-slider {
    display: none; }

  div.breadcrumb-block {
    display: none; }

  ul.link-list {
    -webkit-padding-start: 0;
    padding-left: 0;
    margin: 10px auto;
    text-align: center; }
    ul.link-list div {
      right: 32px;
      top: 30px; }

  h2.main-heading {
    margin: 20px 20px;
    left: 0; }

  ul.link-list li {
    margin: 42px -1.39% 0 2.89%;
    height: 145px; }

  div.container {
    bottom: 4px; }

  div.link-description {
    margin-top: 0;
    background: #03426D;
    top: 0 !important; }
    div.link-description p {
      width: 100%; }

  div.main-links {
    margin-top: 20px;
    height: 210px;
    position: relative;
    display: block; }

  .right-container .side-content .side-data .side-button {
    margin-left: 20px !important; }

  .side-content {
    max-width: 100%;
    display: block; }
    .side-content img {
      width: 100%; }

  .side-data .side-heading {
    margin: 15px 20px 10px 20px;
    font-size: 30px; }
  .side-data p {
    margin: 0 20px 15px 20px;
    font-size: 20px; }
  .side-data .track {
    margin: 30px 20px 7px 20px;
    height: 39px; }
    .side-data .track a {
      padding: 0px 25px; }

  .left-container .publication {
    display: block;
    width: 100%;
    margin: 0 0 15px 0;
    min-height: 250px; }
    .left-container .publication p {
      margin: 5px 20px 15px 20px;
      font-size: 16px;
      padding: 0px 10px; }
    .left-container .publication h3 {
      margin: 20px 20px 10px 20px;
      font-size: 20px; }
    .left-container .publication a {
      margin: 5px 20px 7px 20px;
      display: block; }
  .left-container div.view-more {
    width: 90%;
    margin: 0 5%;
    box-sizing: border-box; }

  span.side-button {
    padding: 7px 25px 4px 10px;
    margin: 15px 10 7px 0 !important; }
    span.side-button a {
      font-size: 16px; }

  section.publication-section {
    min-height: 450px; }

  .publi-left, .publi-right {
    position: relative;
    display: block;
    width: 100%; }

  article.publi-left img {
    max-width: 85%;
    display: block;
    margin: 0 30px; }

  div.publication-description h1 {
    width: 50%;
    text-align: left;
    margin-left: 20px; }
  div.publication-description p {
    width: 80%;
    margin-left: 20px;
    text-align: left; }

  .publi-right {
    box-sizing: border-box;
    padding: 30px !important; }
    .publi-right img, .publi-right .publi-date, .publi-right p {
      padding-right: 0; }
    .publi-right .publi-date h2 {
      margin-bottom: 5px; }
    .publi-right h3 {
      width: 90%;
      margin-top: 7px;
      left: 15px;
      margin-bottom: 22px; }
    .publi-right p {
      padding-right: 0;
      font-size: 16px; }
    .publi-right .declaration {
      font-size: 14px; }
    .publi-right .publi-button {
      padding-right: 0; }

  .publi-enquiry {
    display: none; }

  .searchbox {
    display: none !important; }

  /*====================================================================================
  										MAIN BODY
  ====================================================================================*/
  /*====================================================================================
  										DATA ENQUIRY
  ====================================================================================*/
  .data-row {
    padding: 20px 0 18px 5px;
    margin: 0 20px;
    border-bottom: 1px solid #DFDFDF; }

  .data-req input[type=text], .data-req select, .data-req textarea, .dropdown-span {
    width: 100%; }

  .zip-right {
    width: 100%; }

  .zip.city-left, .zip {
    width: 48%;
    display: inline-block;
    float: left; }

  .zip.city-left {
    margin-right: 4%; }

  .checkbox-data label {
    position: relative; }
  .checkbox-data p {
    position: relative;
    left: 50px;
    bottom: 19px;
    margin: 0;
    width: 80%; }

  .mobile-number {
    width: 75% !important; }

  .publi-search.publi-main {
    position: relative;
    width: 80%;
    margin: 0 10% 10px; }
    .publi-search.publi-main input[type="text"] {
      width: 78%; }

  /*====================================================================================
  										BxSLideer
  ====================================================================================*/
  .bx-controls-direction a {
    bottom: 15px;
    margin-top: 0; }

  .bx-next {
    right: 30% !important; }

  .bx-prev {
    left: 30% !important; }

  /*====================================================================================
  										FOOTER
  ====================================================================================*/
  footer .wrapper .disease-links, footer .wrapper .foot-links, footer .wrapper .publication-links {
    display: none; }
  footer .wrapper .footer-logo {
    margin: 10px 20px 5px 20px;
    display: block; }
    footer .wrapper .footer-logo img {
      display: inline-block;
      width: 46%;
      position: relative;
      box-sizing: border-box;
      margin: 0 2%; }
  footer .wrapper .terms-links {
    margin: 20px auto 15px;
    font-family: "Hind";
    font-size: 14px;
    color: #706F73;
    width: 80%; }
    footer .wrapper .terms-links .link-title {
      font-weight: 600;
      display: inline-block;
      width: 50%;
      position: relative;
      box-sizing: border-box;
      padding: 0 5px;
      margin: 0 auto 10px; }
    footer .wrapper .terms-links .left {
      text-align: left; }
    footer .wrapper .terms-links .right {
      text-align: right;
      border-right: 1px solid #8F8F8F; }
  footer .wrapper .copyright {
    font-weight: 400;
    color: #000;
    text-align: center;
    text-transform: normal;
    width: 275px;
    margin: 0 auto 5px; }

  /*====================================================================================
  										AMI
  ====================================================================================*/
  .data-publi .data, .data-publi .date, .data-publi .type {
    margin: 20px 0 0 0;
    padding: 0 20px 0 30px; }

  .data-publi .ami-content {
    display: none; }

  .pdf p, .disclaimer p {
    padding: 0 15px;
    text-align: center; }
    .pdf p span, .disclaimer p span {
      padding: 0; }

  /* ==========================================================================
     About Us
     ========================================================================== */
  .about-left {
    display: none; }

  .about-right {
    margin: 0 15px 10px; }

  .sitemap-divider {
    padding-bottom: 20px;
    border-bottom: 1px solid #DFDFDF; } }
