/* ==========================================================================
   Imports
   ========================================================================== */
@import 'colours';
@import 'default';
@import 'mixins';

@import 'fonts';

/*@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,800,700,600,300);
@import url(http://fonts.googleapis.com/css?family=Cabin:400,500,600,700,400italic,500italic,600italic,700italic);
@import url(http://fonts.googleapis.com/css?family=Hind:400,300,700,600,500);*/
/* ==========================================================================
   General
   ========================================================================== */

html {font-size:62.5%;}
body{
    @include font-size(14,rem); 
    color:#fff;
    font-family: "Hind";
}



a, a:visited { color:#414040; text-decoration:none;}
a:hover {text-decoration:underline;}

// Styling for table is using Pure CSS table style
table {
  border-collapse: collapse;
  border-spacing: 0;
  empty-cells: show;
  border: 1px solid #016CB6;

  thead {
  
    text-align: left;
    vertical-align: bottom;
  }

  th,td {
    border-left: 1px solid #016CB6;
    border-width: 0 0 0 1px;
    font-size: inherit;
    margin: 0;
    overflow: visible;
    padding:0.5em 1em;

    &:first-child { border-left-width: 0; }
  }
}

blockquote {
    background:$light_grey;
    font-style:italic;
    color:$dark_grey;
    padding:20px;
    margin:20px 10px;
    @include box-sizing;
}

dt {font-weight:bold;}

ol {
    ol {
        list-style-type: lower-latin;
        ol {
            list-style-type: lower-roman;
        }
    }
}

ul{
  padding-left: 0;
  -webkit-padding-start: 0;
}

.clearfix:after {
    content: ".";
    display: table;

}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
   
}

/* ==========================================================================
   Helper Classes
   ========================================================================== */
    
.wrapper {width:960px; margin:0 auto; height:100%;}
.col-1-4 {width:25%; float:left;}
.col-3-4 {width:75%; float:left;}
.pull-left {float:left;}
.pull-right {float:right;}
.list {padding:0; margin:0; list-style-type:none;}

/* ==========================================================================
   Header
   ========================================================================== */


   .heading{
    font-family: "Hind";
    font-weight: 500;
    font-size: 21px;
    color: $dark_blue;
    width:50%;
   
    float:left;
    margin: 0;
    height:30px;
    text-transform: uppercase;
    left:5px;
    position:relative;
    a{text-decoration:none;}
   }

   .search1{
    font-family: "Open Sans";
    font-size: 12px;
    font-weight: 600;
    display:inline-block;
    width:50%;
    float:left;
    margin: 0;
    height: 30px;
    position:relative;
    input[type=text]{position:absolute;right:85px; font-size: 12px;width: 235px;padding: 2px 5px 3px 5px;}  
    .button{position:absolute; right:5px; padding:5px; background:$dark_blue; width:60px; text-align:center;cursor:pointer;
              }
      
    }



      .home-icon{
        background: url(/assets/img/home.png)no-repeat;
          width: 0px;
          height: 0px;
          padding: 18px;
      }


/* ==========================================================================
   Main
   ========================================================================== */
    .link-list li{
    text-decoration: none;
    display: inline-block;
   margin:0 15px;

      a{
        text-decoration: none;
        padding: 47px 67px 64px;
        border: 2px solid #fff;        
        border-radius: 9999px;   
      }

   }

  .link-description{
    width:100%;    
    margin-top: 0;
    padding-top:0;
    position:relative;
    top: -3px;
    font-family: "Hind";
    color:#fff;

      h1{        
        display: block;
        width:75%;
        text-align: center;
        margin: auto;
        font-weight:400;
        font-size: 30px;
        position:relative;
        padding: 30px 0 0 0;
       
      }
      p{
        font-size:18px;
        text-align: center;
        font-weight: 300;       
        position:relative;
        
         width: 60%;
        display: block;
        margin:8px auto 22px;
      }

   }

   
    ::-webkit-input-placeholder { /* WebKit browsers */
    font-style: italic;
      }
      :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
          font-style: italic;
          
      }
      ::-moz-placeholder { /* Mozilla Firefox 19+ */
          font-style: italic;
          
      }
      :-ms-input-placeholder { /* Internet Explorer 10+ */
          font-style: italic;
      }


   .ami{
      background:url(/assets/img/ami.png)no-repeat;
      &:hover{background:url(/assets/img/ami-hover.png)no-repeat;}
   }

   .cancer{
    background:url(/assets/img/cancer.png)no-repeat;
   &:hover {background:url(/assets/img/cancer-hover.png)no-repeat;}
   }
   .cancer:hover{}

   .kidney{
    background:url(/assets/img/kidney.png)no-repeat;
    &:hover {background:url(/assets/img/kidney-hover.png)no-repeat;}
   }
   

   .trauma{
    background:url(/assets/img/trauma.png)no-repeat;
    &:hover {background:url(/assets/img/trauma-hover.png)no-repeat;}
   }
  

   .stroke{
    background:url(/assets/img/stroke.png)no-repeat;
    &:hover {background:url(/assets/img/stroke-hover.png)no-repeat;}
   }


   .donor{
    background:url(/assets/img/donor.png)no-repeat;
    &:hover {background:url(/assets/img/donor-hover.png)no-repeat;}
   }
  

   .birth{
    background:url(/assets/img/birth.png)no-repeat;
    &:hover {background:url(/assets/img/birth-hover.png)no-repeat;}
   }
   

   .container{
    display:block;
    position:relative;
   
   }

   .main-heading{ 
   position:relative;
                
         font-size: 30px;
        font-weight: 500;
        color: #000;
        margin: 9px 0 17px 5px;
        span{
            border-bottom: 5px solid $dark_yellow; 
        }
    }

   .left-container{ 
    font-family: "Hind";

    .publication{
            
            position:relative;
            font-family: "Hind";
            background: #f1f1f1;
            float: left;
              p{color:#706F73;
                
                font-weight: 400;
                }
              h2{
                  font-size: 30px;
                  font-weight: 600;
                  color: #000;
                }
              h3{padding:0 10px;
                color:#000;
                font-size: 16px;
                font-weight:600;
                }  
              a{padding:10px;
                font-size: 14px;
                color: #226E9F;
                font-weight:600;
                position: absolute;
                bottom: 3px;

                    img{
                      position:relative;
                      margin-left:8px;
                      
                    }
                }
   }
            
 }


 .view-more{
              width: 98%;
              background: $dark_blue;
              position: relative;
              display: inline-block;
              min-height: 50px;
              border-radius: 5px;
              margin-top: 20px;
              margin-left: 5px;
              a{
                position: relative;
                background: url(/assets/img/arrow-more.png) 94% 50% no-repeat;
                top: 28%;
                color: #fff;
                font-size: 14px;
                font-weight: 600;
                text-decoration: none;
                /* text-align: center; */
                width: 187px;
                padding: 1px 0;
                display: block;
                margin: 20px auto;

              }
            }

 .main-body{position:relative;min-height:770px;}

 .right-container{font-family: "Hind";}
 .side-content{
        display: inline-block;
      
        margin:0 auto;
        position:relative;

       .side-data{ 
        position:absolute;
                top:20px;
              .side-heading{
               
                font-weight:400;
                color: #000;
                position:relative;
                
              }
              p{
                
                font-weight:300;
                
                color:#414040;
                position:relative;
              }
              

              .track{
                position:relative;
                
                width: 80%;
                background: #fff;
                border-radius:7px;
                
               
                  input[type=text]{
                    outline: none;
                    padding: 0 10px;
                    border: none;
                    border-top-left-radius: 7px;
                    border-bottom-left-radius: 7px;
                    width: 130px;
                    height: 100%;
                    position: relative;
                  }
                  a{
                    background: url(/assets/img/button-arrow.png) $dark_yellow 50% 50% no-repeat;
                    
                    position: absolute;
                    right: 0;
                    top: 0;
                    // border: 1px solid $dark_yellow; 
                    border-top-right-radius: 7px;
                    border-bottom-right-radius: 7px;
                    height: 100%;
                  }

              }

        }
      }

.side-button{
                background:url(/assets/img/button-arrow.png) $dark_yellow 95% 48% no-repeat;
                a{color:$dark_blue;
                font-weight: 600;
                text-decoration: none;}
                
                border:1px solid $dark_yellow;
                border-radius:7px;
                cursor: pointer;
              }

  .download{background:url(/assets/img/button-down-arrow.png) $dark_yellow 95% 48% no-repeat !important;}            


  /*===========================================================================
                                   Publication
   ========================================================================== */
.searchbox{
  display: none;
  color: #fff;
}

.publication-section{
 display: block;
position: relative; 
      min-height: 400px;
      color: $dark_blue;
}

.publication-section:nth-of-type(odd){
  background: #EBEBEB;
}



.publi-left{
  padding: 30px 0 15px 0; 
}

.tag{
  height: 30px;
  background:url(/assets/img/ami-tag.png)   0% 50% no-repeat;
  span{height: 25px;
      margin: 0 0 0 26px !important;
      background: #fbc036;
      padding: 5px 15px 0px 3px;
      float: left;
      border-top-right-radius:3px;
      border-bottom-right-radius:3px;
      font:600 14px "Hind";

    }
  }




.publi-right{
  padding: 30px 0;
  
  img{display:block;
    position:relative;
          top:-7px;}
 
    h2,h3{
      font-size: 24px;
      font-weight: 600;
      margin: 0;
    }

    h3{
      position:relative;
      margin-top: 22px;
      left:20px;
      width: 385px;
      margin-bottom: 25px;
    }
    .publi-date{
      float: left;
      margin-top: 7px;
        span{
          font-size: 48px;
          font-weight: 400;
          position:relative;
          top: -9px;

        }
    }

    p{
      font-size: 14px;
      font-weight: 500;
      color: #000;
      padding: 0 50px 0 0;
      text-align: justify;
    }

    

    .side-button{
    margin: 0 30px 7px 0;
  }
}

.declaration{
      font-size: 12px !important;
      font-style:italic;
      a{text-decoration:none;
        font-weight: 600;
      color: #226e9f;
      &:hover{text-decoration:underline;}
    }
      margin-bottom: 22px;  

    }

/* ==========================================================================
   data-enquiry
   ========================================================================== */
.pdf{p{margin:0;}background:#414040; img{padding: 10px 0;} span{color: #fff; font: 400 italic 14px "Hind"; padding-left:20px;}}

.disclaimer{  background: #f7f7f7;p{margin:0;}
  img{padding: 10px 0;}
  span{color: #706f73; font: 400 italic 14px "Hind"; padding-left:20px;}
  a{color: $dark_blue; font-weight:500;}
}
.data-req{
position:relative;
display:block;
font-size: 18px;
font-weight: 600;
color: #8F8F8F;

 ::-webkit-input-placeholder { /* WebKit browsers */
    font-size: 14px;
    font-style: normal;
      }
      :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
          font-size: 14px;
          font-style: normal;
          
      }
      ::-moz-placeholder { /* Mozilla Firefox 19+ */
          font-size: 14px;
          font-style: normal;
          
      }
      :-ms-input-placeholder { /* Internet Explorer 10+ */
          font-size: 14px;
          font-style: normal;
      }

     div{position:relative;
      textarea{max-height: 175px;}
      .dropdown-span{
        position:absolute;
        top: 0;
        left: 0;
      //  width: 64%;
        padding: 7px 5px;
        box-sizing: border-box;
        border: 1px solid #8F8F8F;
        border-radius:10px;
        background: url(/assets/img/dropdown-arrow.png) #F7F7F7 97% 50% no-repeat;
        z-index: 0;
      }
     }

      input[type=text], select, textarea{
        border-radius:10px;
        box-sizing: border-box;
        border: 1px solid #8F8F8F;
        padding: 5px;
        color: #8F8F8F;
        outline: none;
        background: #F7F7F7;
        margin-bottom: 18px;
      }

      
      input[type=text]:focus::-webkit-input-placeholder {
          color: #226E9F;
      }
      /* Firefox < 19 */
      
      input[type=text]:focus:-moz-placeholder {
          color: #226E9F;
      }
      /* Firefox > 19 */
      
      input[type=text]:focus::-moz-placeholder {
          color: #226E9F;
      }

      /* Internet Explorer 10 */
      
      input[type=text]:focus:-ms-input-placeholder {
          color: red;
      }

      input[type=text]:focus{
        border: 2px solid #226E9F;     

      }

      select{
        font-weight: 500;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;        
        z-index: 10;
        opacity: 0;
        overflow: hidden;
        padding-bottom: 1px !important;
      }
}
  
 .invalid-text{border:  2px solid #FF0000 !important;} 
  
 .data-row{  
      .invalid-image{margin-left:10px; display:none;}
      .invalid-email{
        float: none;
        display: none;
        font-size: 14px;
        color: #FF0000;
        bottom: 12px;
        } 
}

.checkbox-data{

  p{
    color: #555555;
    font-family: "Cabin";
    font-size: 14px;
    font-weight: 400;
  }

  input[type=checkbox]{
        opacity: 0;
  }
}

 .checkimage{
    background: url(/assets/img/uncheck.png) 0 0 #fff no-repeat;
    padding: 15px 15px;
    position: absolute;
    left: 0;   
  }

  .checked{
    background: url(/assets/img/check.png) 0 0 #fff no-repeat !important;
  }

  .only-data-request{display: none;}
 .upload{
    background: url(/assets/img/upload.png) #706F73 92% 50% no-repeat;    
    color: #fff;
    padding: 10px 52px 10px 20px;   
    text-align: left;
    border-radius: 6px;
    font-size: 14px;
    cursor: pointer;
  }

  .zip-right{margin-bottom:0 !important;}
  input[type=file]{
    position: absolute;
opacity: 0;
width: 205px;
left: 0;
height: 43px;
top: -12px;
cursor: pointer;
  }

 .btnValidate{display:block;
    margin:40px auto;
    background: #198711;
    color: #fff;
    padding: 10px  0;
    width:172px;
    text-align: center;
    border-radius: 6px;
    font-size: 14px;
    cursor: pointer;
  }

  .mobile-number{
    width: 35% !important;
  }

  .phone-code{margin-right: 20px;}

  /* ==========================================================================
   bxSlider
   ========================================================================== */
.bx-controls-direction a {
position: absolute;
outline: 0;
width: 32px;
height: 32px;
text-indent: -9999px;
z-index: 100000;


}

.bx-next {
background: url(/assets/img/car-right.png) no-repeat 0 -5px !important;
}

.bx-prev {
background: url(/assets/img/car-left.png) no-repeat 0 -5px !important;
}


/*===========================================================================
                                   AMI
   ========================================================================== */
   .data-publi{
    color:#414040;
    margin-bottom:20px;
    .data, .date, .type{
      margin: 20px 0 0 0;
    }

      .publi-content{
        border-bottom: 1px solid #EBEBEB;
      }

     .date{          
          p{font-size:24px;          
          font-weight: 600;
          margin: 0;
          }
          span{
            font-size: 48px;

          }
        }

        .data{
          h3{
            font-size: 21px;
            font-weight: 600;
            margin: 0;

          }
          p{
            color: #706f73;            
          }
        }

        .type{

          padding-left: 30px;
          p{
            font-size: 14px;
            color: #706f73;
            margin: 0 0 10px 0;
          }
          span{
            color: #010101;
            font-weight: 600;
          }

          .publi-button{
            padding-top: 30px;

          }
          .side-button{
            margin:0 ;
          }
        }
   }

/* ==========================================================================
   About Us
   ========================================================================== */
   .about-left, .about-right{float:left;box-sizing:border-box;}
   
   .about-right{
      
      
      
      ul{padding-left: 17px;margin:0;}
      p,li{color:#706f73; font:400 14.08px "Hind";padding:0;}
      .about-main{
      h2{color:$dark_blue; font: 600 30px "Hind";margin: 13px 0 0 0;}
      h3{color:#414040; font: 600 21px "Hind";margin: 13px 0 0 0;}
      img{width: 100%; margin-top:7px; margin-bottom:10px;}
      p{font-size:14px; text-align:justify;margin:0; padding: 10px 0;}
      
    }
   }
   /* ==========================================================================
   Footer
   ========================================================================== */

